<header>
    <div>
        <h1><a href="/">Scissor</a></h1>
    </div>
    <div id="profile" >
        <span class="material-symbols-outlined">person</span>
        <ul id="profile-nav">
            <li><%= username %></li>
            <li><a href="/auth/logout">Log out</a></li>
        </ul>
    </div>
</header>