<header>
    <div>
        <a href="/" id="header-link">
            <img src="/images/icons8-scissors-retro-32.png" alt="scissor-img">
            <h1>Scissor</h1>
        </a>
    </div>
    <div id="profile">
        <span class="material-symbols-outlined">person</span>
        <ul id="profile-nav">
            <li><%= username %></li>
            <li><a href="/a/logout">Log out</a></li>
        </ul>
    </div>
</header>