<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/headTags') %>
        <title>Create a new link</title>
    </head>

    <body>
        <%- include('../partials/header') %>

        <main>
            <h1>Create a new link</h1>
            <form method="post">
                <div class="form-field">
                    <label for="field-url">URL</label>
                    <input
                        type="text"
                        name="url"
                        id="field-url"
                        placeholder="Enter destination URL"
                    />
                </div>

                <div class="form-field">
                    <label for="field-description">Description</label>
                    <input
                        type="text"
                        name="description"
                        id="field-description"
                        placeholder="A short description of the URL (Optional)"
                    />
                </div>

                <div class="form-field">
                    <label for="field-alias">Custom Alias</label>
                    <input
                        type="text"
                        name="alias"
                        id="field-alias"
                        placeholder="Leave blank to generate random"
                    />
                </div>

                <input type="submit" value="Create link" />
            </form>
        </main>
    </body>
</html>
