<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Link not Found</title>
    </head>
    <body>
        <header>
            <div>
                <h1>Scissor</h1>
            </div>
            <div>
                <p><%= username %></p>
                <a href="/auth/logout">Log out</a>
            </div>
        </header>

        <h1>Link not found or you don't own it</h1>

        <a href="/home">Return home</a>
    </body>
</html>
